.footer-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.reserved {
  font-size: 14px;
}
