<mat-card class="user-card">
  <mat-card-header>
    <div
      [ngStyle]="{
        'background-image': 'url(' + user.profileImg + ')',
        'background-size': 'cover',
      }"
      mat-card-avatar
    ></div>
    <mat-card-title>{{ user.name }}</mat-card-title>
    <mat-card-subtitle>{{ user.role }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>E-Mail</span>
        <span matListItemLine>{{ user.email }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Status</span>
        <span matListItemLine>{{ user.status }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions class="actions-container">
    <button *ngIf="user.role == 'Student'" mat-raised-button color="primary">
      Promote<mat-icon>arrow_drop_up</mat-icon>
    </button>
    <button *ngIf="user.role == 'Teacher'" mat-raised-button color="accent">
      Demote<mat-icon>arrow_drop_down</mat-icon>
    </button>
    <button *ngIf="user.status == 'Active'" mat-raised-button color="warn">
      Disable<mat-icon>toggle_off</mat-icon>
    </button>
    <button
      *ngIf="user.status == 'Inactive'"
      mat-raised-button
      class="enable-btn"
    >
      Enable<mat-icon>toggle_on</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
