mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

.container {
  padding: 70px 16px 10px 16px;
  // background-image: url(./../assets/images/bg-img-5.jpg);
  // background-size: cover;
  // background-position: center;
}

.user-info-container {
  display: flex;
  align-items: center;

  .mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
  }

  .user-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex-grow: 1;
}

.app-footer {
  flex-shrink: 0;
}

@media (max-height: 600px) {
  .mat-sidenav-content {
    min-height: calc(100vh - 72px);
  }
}
